.container-fluid {
  height: 86.8vh;
}
section .card, section .card-header, input
{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
section .card, section .card-bottom, input
{
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
p .float-end
{
  color:black;
  text-decoration: none;
}
