<app-titulo [titulo]="'Usuario'"
            [iconClass]="'fas fa-id-badge'"
            [subtitulo]="'PUC-MINAS EAD 2021'"
            [botaoListar]="true"
            [acao]="'Perfil'">
</app-titulo>-

<div class="container">
<!----------------- CONTAINER -------------------->
<div id="card-externo" class="mb-3">
<!----------------- Card Externo -------------------->
  <form>
<!----------------- Fomulário Principal -------------------->
    <div class="row ">
      <div class="col-lg-3 pt-1">
        <div class="card">
          <div class="card-header ">
            <div class="d-block text-center align-self-center pt-3">
              <a class="">
                <img
                  src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
                  name="aboutme" width="120" height="120" class=" rounded-circle">
              </a>
            </div>
            <div class="h4 text-center mb-3">
              @UserName
            </div>
          </div>
          <div class="card-body">
            <div class="h7 text-bold pb-1"><b>Nome:</b> Miracles Lee Cross</div>
              <div class="h7">
                Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js, etc.
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-6 text-center border-right">
                    <div class="h5">
                      1342
                    </div>
                    <div class="h6 text-muted">
                      Eventos Ministrados
                    </div>
                  </div>
                  <div class="col-6 text-center">
                    <div class="h5">
                      1342
                    </div>
                    <div class="h6 text-muted">
                      Eventos Participados
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="row g-3">
            <div class=" col-lg-4 col-sm-2 col-xs-8">
              <label class="form-label ">Códgo do Usuário</label>
              <input type="text" class="form-control" disabled=""/>
            </div>
            <div class=" col-lg-4 col-sm-2 col-xs-8">
              <label class="form-label ">Usario Login</label>
              <input type="text" class="form-control" disabled=""/>
            </div>
            <div class="col-lg-4 col-sm-2 col-xs-8">
              <label class="form-label">Primeiro Nome</label>
              <input type="text" class="form-control"/>
            </div>
            <div class="col-lg-8 col-sm-2 col-xs-8">
              <label class="form-label">Sobrenome</label>
              <input type="text" class="form-control" />
            </div>
            <div class="col-lg-4 col-sm-2 col-xs-8">
              <label class="form-label">Telefone</label>
              <input type="text" class="form-control" />
            </div>
            <div class="col-lg-8 col-sm-2 col-xs-8">
              <label class="form-label">Email</label>
              <input type="text" class="form-control" />
            </div>
          </div>
          <hr>
          <div class="d-flex align-items-center ">
            <h3 class="pt-3">Mudar Senha:</h3>
            <div class="p-3 mt-3">
              Caso mude de senha, preencha os campos abaixo:
            </div>
          </div>
          <div class="row g-3">
            <div class=" col-lg-4 col-sm-2 col-xs-8">
              <label class="form-label">Senha</label>
              <input type="password" class="form-control" />
            </div>
            <div class=" col-lg-4 col-sm-2 col-xs-8">
              <label label class="form-label">Confirmar Senha</label>
              <input type="password" class="form-control" />
            </div>
          </div>
        </div>
      </div>
      <div div class="card-footer">
	  	  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
	  		  <button class="btn btn-danger ">
	  		  	Cancelar Alteração
	  		  </button>
	  		  <button class="btn btn-secondary">
				   <span class="spinner-border spinner-border-sm mr-1 mr-auto"></span>
				    Salvar Alteração
			   </button>
		    </div>
	    </div>
<!----------------- Fomulário Principal -------------------->
    </form>
<!----------------- Card Externo -------------------->
  </div>
<!----------------- CONTAINER -------------------->
</div>
