<div class="container">
  <div class="row">
      <div class="col-lg-4 col-md-6 col-ms-2 offset-md-4 mt-5">
          <div class="card-header mb-3 mt-5">
              <h3 class="text-center">Entrar</h3>
          </div>
          <div class="card-header lg-secundary" >
            <form accept="" class=" p-4" [formGroup]="form!">
                <div class="mb-3">
                    <label class="form-label">Usuário</label>
                    <input type="text"
                          class="form-control"
                          name="usuarioLogin"
                          placeholder=""
                          formControlName="usuarioLogin"
                          [ngClass]="{'is-invalid': f.usuarioLogin.errors && f.usuarioLogin.touched }">
                    <div *ngIf="f.usuarioLogin.errors?.required" class="invalid-feedback">
                      Campo obrigatório!
                    </div>
                    <div *ngIf="f.usuarioLogin.errors?.minlength" class="invalid-feedback">
                      Usuário deve conter no mínimo 8 caracteres.
                    </div>
                    <div *ngIf="f.usuarioLogin.errors?.maxlength" class="invalid-feedback">
                      Usuário deve conter no máximo 15 carctesres
                    </div>
                  </div>

                <div class="mb-3">
                    <label for="Password">Senha</label>
                    <input type="password"
                          class="form-control"
                          name="password"
                          id="Password"
                          placeholder=""
                          formControlName="senha"
                          [ngClass]="{'is-invalid': f.senha.errors && f.senha.touched }">
                    <div *ngIf="f.senha.errors?.required" class="invalid-feedback">
                      Campo obrigatório!
                    </div>
                    <div *ngIf="f.senha.errors?.minlength" class="invalid-feedback">
                      Senha deve conter no mínimo 6 caracteres.
                    </div>
                   </div>

                <label class="mb-3">
                    <input type="checkbox" name="RememberMe"> Lembrar
                </label>

                <a [routerLink]="['/usuario/perfil']" class="float-end text-decoration-none">Trocar senha</a>

                <div class="mb-3">
                    <button type="submit" class="btn btn-dark">Entrar</button>
                </div>

                <hr>

                <p class="text-center mb-0">Se ainda não se registroou <a [routerLink]="['/usuario/cadastro']">Clique aqui</a></p>

            </form>
        </div>
      </div>
  </div>
</div>
