<div class="d-flex p-3 my-3 text-white bg-dark  shadow-sm">
  <div  class="d-flex align-items-center me-auto">
    <i class="{{iconClass}} mr-5"></i>
    <div class="lh-100">
      <h2>{{titulo}}</h2>
      <small>{{subtitulo}}</small>
    </div>
  </div>
  <div class="p-3" *ngIf="botaoListar">
    <button type="button"
            class="btn btn-outline-light"
            
            (click)="listar()" >
      Listar {{titulo}}
    </button>
  </div>
</div>
<div class="card-header">
  <div class="form-group col-12">
    <h3 class="border-bottom">{{acao}} {{titulo}}</h3>
  </div>
</div>
<p></p>
