.container {
  height: 64.5vh;
}
th{
  color: #fff;
  background: #043952;
 }
th:nth-of-type(3){ width: 50%; }
.panel .panel-footer{
  color: #fff;
  background: #03293a;
  border-radius: 0;
}
.pagination{ margin: 0; }
.pagination li a{
  color: #fff;
  background-color: rgba(233, 222, 222, 0.3);
  font-size: 15px;
  font-weight: 700;
  margin: 0 2px;
  border: none;
  border-radius: 0;
  transition: all 0.3s ease 0s;
}
.pagination li a:hover,
.pagination li a:focus,
.pagination li.active a{
  color: #fff;
  background-color: #000;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
