<nav class="navbar  navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink='home'>J.I.T. Residencial</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarColor01"
      [collapse]="isCollapsed" [isAnimated]="true">
      <ul class="navbar-nav me-auto mb-0 mg-lg-0">
        <li class="nav-item ">
          <a  [ngClass]="[disableMenu()
                        ? 'nav-link disabled'
                        : 'nav-link ']"
              routerLink="/produto/detalhe">Produto
          </a>
      </li>
        <li class="nav-item">
          <a  [ngClass]="[disableMenu()
                         ? 'nav-link disabled'
                         : 'nav-link']"
              href="#">
              Cadastro
          </a>
        </li>
        <li class="nav-item">
          <a [ngClass]="[disableMenu()
                        ? 'nav-link disabled'
                        : 'nav-link ']"
              href="#">Entrar</a>
        </li>
        <li class="nav-item">
           <a [ngClass]="[disableMenu()
                         ? 'nav-link disabled'
                         : 'nav-link']">
              Produtos
           </a>
        </li>
        <li class="nav-item">
          <a [ngClass]="[disableMenu()
                        ? 'nav-link disabled'
                        : 'nav-link ']">
              Estoque
          </a>
        </li>
        <li class="nav-item">
          <a [ngClass]="[disableMenu()
                        ? 'nav-link disabled'
                        : 'nav-link ']">
              Categorias
          </a>
        </li>
      </ul>
      <ul class="nav-bar">
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            [ngClass]="[disableMenu()
                        ? 'nav-link disabled'
                        : 'nav-link ']"
          >
            Vinicius
          </a>
        <div *dropdownMenu
            class="dropdown-menu"
            aria-labelledby="navbarDropdownMenuLink">
          <a Class="dropdown-item"
              routerLink='/user/profile'
              [ngClass]="[disableMenu()
                        ? 'nav-link disabled'
                        : 'nav-link ']">
            Profile
          </a>
          <div role="separator"
              class="divider"></div>
          <a (click)="logout()" class="dropdown-item">
            Sair
          </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
