<app-titulo [titulo]="'Produto'"
            [iconClass]="'fas fa-shopping-cart'"
            [subtitulo]="'PUC-MINAS EAD 2021'"
            [botaoListar]="true"
            [acao]="'Detalhe'">
</app-titulo>

<div class="container">
    <form Class="row g-3" [formGroup]="form!">
      <p>Form value: {{form!.value | json}}</p>
      <p>form status: {{form!.status | json}}</p>

      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Código do Produto</label>
        <input type="text"
              class="form-control"
              >
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Código de Barras</label>
        <input type="text"
              class="form-control"
              formControlName="codigoBarras"
              [ngClass]="cssValidator(f.codigoBarras)">
        <div class="invalid-feedback">
          {{ErrorMessageValidationField(f.codigoBarras, "Código de Barras")}}
        </div>
      </div>
      <div class=" col-lg-6 col-sm-8 col-xs-8">
        <label class="form-label">Nome Produto</label>
        <input type="text"
               class="form-control is-invalid"
               formControlName="nomeProduto"
               [ngClass]="cssValidator(f.nomeProduto)">
        <div class="invalid-feedback">
          {{ErrorMessageValidationField(f.nomeProduto, "Nome Produto")}}
        </div>
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Quantidade</label>
        <input type="number"
               class="form-control is-invalid"
               formControlName="quantidade"
               [ngClass]="cssValidator(f.quantidade)">
        <div  class="invalid-feedback">
          {{ErrorMessageValidationField(f.quantidade, "Quantidade")}}
        </div>
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Volume</label>
        <input type="text"
               class="form-control is-invalid"
               formControlName="volume"
               [ngClass]="cssValidator(f.volume)">
        <div class="invalid-feedback">
          {{ErrorMessageValidationField(f.volume,  "Volume")}}
        </div>
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Data Validade</label>
        <input type="text"
               class="form-control is-invalid"
               formControlName="dataValidade"
               placeholder=""
               bsDatepicker
               [bsConfig]="bsConfig"
               [ngClass]="cssValidator(f.dataValidade)">
        <div class="invalid-feedback">
          {{ErrorMessageValidationField(f.dataValidade,  "Data Validade")}}
        </div>
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Data Inclusão</label>
        <input type="text" class="form-control" formControlName="dataInclusao">
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Última Atualização</label>
        <input type="text" class="form-control" formControlName="dataAlteracao" >
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Unid. Medida</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Estoque</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Menor Preço</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class="col-12">
        <h4>Fornecdor Ativo</h4>
        <hr>
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Código Fornecdor</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class=" col-lg-4 col-sm-8 col-xs-8">
        <label class="form-label">Nome Fornecedor</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class=" col-lg-3 col-sm-4 col-xs-10">
        <label class="form-label">Nome Fantasia</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class=" col-lg-1 col-sm-2 col-xs-8">
        <label class="form-label">Estado</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Data Cadastro</label>
        <input type="text" class="form-control" disabled="">
      </div>

      <div class="">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-danger mr-auto border" (click)="resetForm($event)">
            Cancelar Alteração
          </button>
          <button class="btn btn-outline-light" [disabled]="!form!.valid" (click)="salvarProduto()">
            <span class=" mr-1"></span>
              Salvar Evento
          </button>
        </div>
      </div>
    </form>
</div>
