<app-titulo [titulo]="'Produto'"
            [iconClass]="'fas fa-shopping-cart'"
            [subtitulo]="'PUC-MINAS EAD 2021'"
            [botaoListar]="true"
            [acao]="'Detalhe'">
</app-titulo>

<div class="container">
    <form Class="row g-3" [formGroup]="form!">
 <!--     <p>Form value: {{form!.value | json}}</p>
      <p>form status: {{form!.status | json}}</p>-->
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Código do Produto</label>
        <input type="text" class="form-control" disabled="" >
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Código de Barras</label>
        <input type="text"
              class="form-control"
              formControlName="codigoBarras"
              [ngClass]="{'is-invalid': f.codigoBarras.errors && f.codigoBarras.touched }">
        <div *ngIf="f.codigoBarras.errors?.required" class="invalid-feedback">
          Campo obrigatório!
        </div>
        <div *ngIf="f.codigoBarras.errors.minlength" class="invalid-feedback">
          Código de Barras deve conter no mínimo 15 carctesres
        </div>
        <div *ngIf="f.codigoBarras.errors.maxlength" class="invalid-feedback">
          Código de Barras deve conter no máximo 15 carctesres
        </div>
      </div>
      <div class=" col-lg-6 col-sm-8 col-xs-8">
        <label class="form-label">Nome Produto</label>
        <input type="text"
               class="form-control is-invalid"
               formControlName="nomeProduto"
               [ngClass]="{'is-invalid': f.nomeProduto.errors && f.nomeProduto.touched }">
        <div *ngIf="f.nomeProduto.errors.required" class="invalid-feedback">
          Campo obrigatório!
        </div>
        <div *ngIf="f.nomeProduto.errors?.minlength" class="invalid-feedback">
          Nome Produto deve conter no mínimo 04 carctesres
        </div>
        <div *ngIf="f.nomeProduto.errors?.maxlength" class="invalid-feedback">
          Nome Produto deve conter no máximo 50 carctesres
        </div>
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Quantidade</label>
        <input type="number"
               class="form-control is-invalid"
               formControlName="quantidade"
               [ngClass]="{'is-invalid': f.quantidade.errors && f.quantidade.touched }">
        <div *ngIf="f.quantidade.errors?.required" class="invalid-feedback">
          Campo obrigatório!
        </div>
        <div *ngIf="f.quantidade.errors?.max" class="invalid-feedback">
          Quantidade inválida
        </div>
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Volume</label>
        <input type="text"
               class="form-control is-invalid"
               formControlName="volume"
               [ngClass]="{'is-invalid': f.volume.errors && f.volume.touched }">
        <div *ngIf="f.volume.errors?.required" class="invalid-feedback">
          Campo obrigatório!
        </div>
        <div *ngIf="f.volume.errors?.minlength" class="invalid-feedback">
          Volume deve conter no mínimo 04 carctesres
        </div>
        <div *ngIf="f.volume.errors.maxlength" class="invalid-feedback">
          Volume deve conter no máximo 15 carctesres
        </div>
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Data Validade</label>
        <input type="text"
               class="form-control is-invalid"
               formControlName="dataValidade"
               placeholder="dd/mm/aaaa"
               [ngClass]="{'is-invalid': f.dataValidade.errors && f.dataValidade.touched }">
        <div *ngIf="f.dataValidade.errors?.required" class="invalid-feedback">
          Campo obrigatório
        </div>
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Data Inclusão</label>
        <input type="text" class="form-control">
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Última Atualização</label>
        <input type="text" class="form-control">
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Unid. Medida</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Estoque</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Menor Preço</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class="col-12">
        <h4>Fornecdor Ativo</h4>
        <hr>
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Código Fornecdor</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class=" col-lg-4 col-sm-8 col-xs-8">
        <label class="form-label">Nome Fornecedor</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class=" col-lg-3 col-sm-4 col-xs-10">
        <label class="form-label">Nome Fantasia</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class=" col-lg-1 col-sm-2 col-xs-8">
        <label class="form-label">Estado</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Data Cadastro</label>
        <input type="text" class="form-control" disabled="">
      </div>

      <div class="">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-danger mr-auto border" (click)="resetForm()">
            Cancelar Alteração
          </button>
          <button class="btn btn-outline-light" [disabled]="!form!.valid">
            <span class=" mr-1"></span>
              Salvar Evento
          </button>
        </div>
      </div>
    </form>
</div>
