<app-titulo [titulo]="'Produto'"></app-titulo>
<!-- <p>{{produtos | json}}</p> -->
<div class="form-inline" >

  <div class="form-group mb-2">
    <label >Filtro:</label>
    <input
    type="text"
    class="form-control mr-2"
    palceholder="buscar"
    [(ngModel)]="filtroLista"
    >
  </div>
</div>
<hr>
<!-- <h2>Filtro: {{filtroLista}}</h2> -->
<table class="table table-success table-striped">
  <thead class="table-dark">
    <th>#</th>
    <th>Código de Barras</th>
    <th>Descrição Produto</th>
    <th>Quantidade</th>
    <th>Volume</th>
    <th>Data Validade</th>
    <th>Opções</th>
  </thead>
  <tbody *ngIf="produtos && produtos.length">
    <tr *ngFor="let produto of produtosFiltrados">
  <!--  <tr *ngFor="let produto of produtos"> -->
      <td>{{produto.id}}</td>
      <td>{{produto.codigoBarras}}</td>
      <td>{{produto.nomeProduto}}</td>
      <td>{{produto.quantidade}}</td>
      <td>{{produto.volume}}</td>
      <td>{{produto.dataValidade | DateTimeFormatPipe}}</td>
      <td>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-primary  " tooltip="Editar">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" class="btn btn-danger "  tooltip="Excluir" (click)="openModal(template)">
            <i class="fa fa-trash"></i>
          </button>
      </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!produtos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body modal-backdrop-bg text-center">
    <p>Confirma a exclusão do produto?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
