  <!-- Imagem da tela de cadastro -->
  <div class="row pt-5">
    <div class="col-4 ms-5 me-5 d-flex justify-content-center align-items-center pt-5" >
      <div class="d-none d-sm-block float-start" >
        <div div  class="text-center  ">
         <img id="imageRegistration" class="img-fluid img-thumbnail" src="../../../../assets/Jit.png" alt="" >
        </div>
      </div>
    </div>

    <div class="col-8 col-sm-6 pt-5">

      <!-- fomrulario de cadastro -->
      <div class="card bg-light " >
        <div class="card-header text-center bg-primary text-white p-4" >
          <h4>Informe os dados abaixo para realização do cadastro:</h4>
        </div>

        <div class="card-body bg-ligth ">

          <form ngClass="row "
                [formGroup]="cadastroForm"
                (ngSubmit)="cadastrarConta()">

            <div class=" col-lg-4 col-sm-4 pt-2">
              <label class="form-label">Primeiro Nome</label>
              <input type="text" class="form-control" placeholder="" formControlName="primeiroNome"
                  [ngClass]="validarCampo(controlsAtivo.primeiroNome)">
              <div  class="invalid-feedback">
                {{retornarValidacao(controlsAtivo.primeiroNome, "Primeiro Nome")}}
              </div>
            </div>

            <div class="col-lg-8 col-sm-8 pt-2">
              <label class="form-label">Sobrenome</label>
              <input type="text" class="form-control" placeholder="" formControlName="sobrenome"
                  [ngClass]="validarCampo(controlsAtivo.sobrenome)">
              <div class="invalid-feedback">
                {{retornarValidacao(controlsAtivo.sobrenome, "Sobrenome")}}
              </div>
            </div>

            <div class=" col-lg-4 col-sm-4 pt-2">
             <label class="form-label" for="">Conta:</label>
              <input class="form-control" type="text" placeholder="" formControlName="userName"
                [ngClass]="validarCampo(controlsAtivo.userName)">
              <div class="invalid-feedback">
               {{retornarValidacao(controlsAtivo.userName, "Conta")}}
              </div>
            </div>

            <div div class="col pt-2">
              <label class="form-label">Email:</label>
              <input class="form-control" type="text" placeholder="" formControlName="email"
                  [ngClass]="validarCampo(controlsAtivo.email)"
              >
              <div class="invalid-feedback">
                {{retornarValidacao(controlsAtivo.email, "E-mail")}}
              </div>
            </div>

            <div class="row">
              <div class="col-lg-8 col-sm-6 pt-2">
                <label class="form-label" for="">Senha:</label>
                <input class="form-control" type="password" placeholder="" formControlName="password"
                    [ngClass]="validarCampo(controlsAtivo.password)">
                <div  class="invalid-feedback">
                  {{retornarValidacao(controlsAtivo.password, "Senha")}}
                </div>
              </div>

              <div class="col-lg-8 col-sm-6   pt-2 float-end">
                <label class="form-label" for="">Confirmar Senha:</label>
                <input class="form-control" type="password" placeholder="" formControlName="confirmPassword"
                      [ngClass]="validarCampo(controlsAtivo.confirmPassword)">
                <div class="invalid-feedback">
                  {{retornarValidacao(controlsAtivo.confirmPassword, "Confirmar Senha")}}
                </div>
              </div>
            </div>
         </form>
        </div>

      <div class="card-footer bg-dark text-white justify-content">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <a class="btn btn-link" [routerLink]="['/conta/login']">
              Já sou Cadastrado
            </a>
          </div>
          <div class="col-lg-6 col-sm-12">
            <button button class="btn btn-outline-light float-end"
                    type="submit"
                    [disabled]="!cadastroForm.valid"
                    (click)="cadastrarConta()"
            >
              <b>Cadastrar</b>
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- <div class="row p-2 bg-primary">
  <div class="text-white ">
  <p>Form value: {{cadastroForm.value | json}}</p>
  <p>form status: {{cadastroForm.status | json}}</p>
</div></div> -->


