#imageRegistration {
  margin-top: 15px;
  width: 30vw;
  height: 50vh;
}
.card {
  margin-top: 15px;
}
a {
  text-decoration: none;
  color: white;
}
.form-check-label {
  padding-left: 10px;
}
.row .card, .row .card-header
{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.row .card, .row .card-footer
{
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
