
<h2>Produtos</h2>
<hr>
<p>{{produtos | json}}</p>
<div class="form-inline" >
  <div class="form-group mb-2">
    <label class="mr-2">Filtro: </label>
    <input
    type="text"
    class="form-control mr-2"
    palceholder="buscar"
    [(ngModel)]="filtroLista"
    >
  </div>
</div>
<hr>
<!-- <h2>Filtro: {{filtroLista}}</h2> -->
<table class="table table-success table-striped">
  <thead class="table-dark">
    <th>#</th>
    <th>Código de Barras</th>
    <th>Descrição Produto</th>
    <th>Quantidade</th>
    <th>Volume</th>
    <th>Data Validade</th>
    <th>Opções</th>
  </thead>
  <tbody *ngIf="produtos && produtos.length">
    <tr *ngFor="let produto of produtosFiltrados">
  <!--  <tr *ngFor="let produto of produtos"> -->
      <td>{{produto.id}}</td>
      <td>{{produto.codigoBarras}}</td>
      <td>{{produto.nomeProduto}}</td>
      <td>{{produto.quantidade}}</td>
      <td>{{produto.volume}}</td>
      <td>{{produto.dataValidade}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2">
          <span class="fas-solid fas-pencil">Editar</span>
        </button>
        <button type="button" class="btn btn-danger btn-sm mr-2">
          <span class="fas-solid fas-pencil">Excluir</span>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!produtos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
