<app-titulo [titulo]="'Produto'"
            [iconClass]="'fas fa-shopping-cart'"
            [subtitulo]="'PUC-MINAS EAD 2021'"
            [botaoListar]="true"
            [acao]="'Detalhe'">
</app-titulo>

<div class="container">
    <form ngClass="row g-3">
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Código do Produto</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Código de Barras</label>
        <input type="text" class="form-control">
      </div>
      <div class=" col-lg-6 col-sm-8 col-xs-8">
        <label class="form-label">Nome Produto</label>
        <input type="text" class="form-control">
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Quantidade</label>
        <input type="text" class="form-control">
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Volume</label>
        <input type="text" class="form-control">
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Data Validade</label>
        <input type="text" class="form-control">
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Data Inclusão</label>
        <input type="text" class="form-control">
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Última Atualização</label>
        <input type="text" class="form-control">
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Unid. Medida</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Estoque</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Menor Preço</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class="col-12">
        <h4>Fornecdor Ativo</h4>
        <hr>
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Código Fornecdor</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class=" col-lg-6 col-sm-8 col-xs-8">
        <label class="form-label">Nome Fornecedor</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class=" col-lg-4 col-sm-4 col-xs-10">
        <label class="form-label">Nome Fantasia</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class=" col-lg-1 col-sm-2 col-xs-8">
        <label class="form-label">Estado</label>
        <input type="text" class="form-control" disabled="">
      </div>
      <div class=" col-lg-2 col-sm-4 col-xs-8">
        <label class="form-label">Data Cadastro</label>
        <input type="text" class="form-control" disabled="">
      </div>

      <div class="card-footer">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-danger mr-auto border">
            Cancelar Alteração
          </button>
          <button class="btn btn-outline-light">
            <span class="spinner-border spinner-border-sm mr-1"></span>
              Salvar Evento
          </button>
        </div>
      </div>
    </form>
</div>
